anyio==3.6.1
asgiref==3.5.2
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==37.0.2
dnspython==2.1.0
fastapi==0.79.0
h11==0.13.0
idna==3.3
importlib-metadata==4.12.0
pip==22.2.1
pycparser==2.21
pydantic==1.9.1
pytz==2022.1
requests==2.28.1
setuptools==63.2.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.19.1
typing-extensions==4.3.0
urllib3==1.26.11
uvicorn==0.18.2
websockets==10.3
